body {
  font-family: sans-serif;
  margin: 0;
}

.battlefield {
  height: 50%;
  background: #244768;
}

.panel {
  height: 50%;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.tab {
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16pt;
  border-top: 2pt solid rgba(0,0,0,0);
  border-bottom: 2pt solid rgba(0,0,0,0);
}
.tab.selected {
  border-bottom: 2pt solid #0084ff;
}

.panel-item {
  display: none;
  padding: 16pt;
}
.panel-item.selected {
  display: flex;
}

.story {
  font-size: 16pt;
}
