body {
  position: relative;
  font-family: sans-serif;
  margin: 0;

  height: 600px;
  width: 400px;
}

.login-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #244768;
  background: linear-gradient(0deg, #0084ff 0%, #244768 100%);
  padding: 16px 0;
}

.login-modal {
  width: 80%;
  background: #ffffff;
  padding: 16px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
}
.login-modal h1 {
  margin: 0 0 16px 0;
  text-align: center;
  color: #244768;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  outline: none;
  background: transparent;
  padding: 12px;
  margin: 16px 0 8px 0;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px;
  transition: all .2s linear;
}
.login-form input:focus {
  border: 1px solid rgba(0,132,255,1);
}

.login-form button {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #0084ff7c;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: all .2s linear;
}
.login-form:valid button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
.login-form:valid button {
  background: #0084ff;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  background: #ffffff;
  /* margin: 0 auto; */
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);

}

.instructions .instruction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 4px;
}

.instructions .instruction .number {
  background: #0084ff;
  color: #ffffff;
  text-align: center;
  height: 16px;
  width: 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  border-radius: 500px;
  margin-right: 8px;
}

.instructions .instruction .text {
  color: #0084ff;
}
.instructions .instruction .text a {
  color: #0084ff;
  font-weight: bold;
}
.instructions .instruction .text span {
  font-weight: bold;
}

.battlefield {
  position: relative;
  height: 50%;
  background: #244768;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  /* font-weight: bold; */
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  color: rgba(255,255,255,1);
  padding: 10px 3%;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

#profileContainer {
  position: relative;
}

#profileContainer.closed {

}

#profileContainer.open {
  
}

#memberProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 6px;
  border-radius: 8px;
  background: transparent;
  transition: all .2s linear;
}
#profileContainer.closed #memberProfile {
  border: 1px solid rgba(0,0,0,0);
}
#profileContainer.open #memberProfile {
  border: 1px solid #0084ff;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  color: rgba(0,0,0,0.9);
}

#memberProfile .member-icon {
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 500px;
  border: 1px solid rgb(172, 172, 172);
  overflow: hidden;
}
#memberProfile .member-icon #memberIcon {
  height: 100%;
  width: 100%;
}
#memberProfile #memberName {
  padding: 0 10px;
}
.carrot {
  width: 16px;
  font-size: 12px;
  transition: all .2s linear;
}
#profileContainer.closed .carrot {
  color: rgba(255,255,255,.4);
}
#profileContainer.open .carrot {
  color: rgba(0,0,0,0.4);
  transform: rotateX(180deg);
} 

#memberMenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 48px;
  left: 0;
  transition: all .2s linear;
  background: #ffffff;
  color: rgba(0,0,0,0.8);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  z-index: 10;
}
#profileContainer.closed #memberMenu {
  display: none;
}
#profileContainer.open #memberMenu {
  display: block;
}

.menu-item {
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  transition: all .2s linear;
}
.menu-item:hover {
  background: rgba(0,0,0,0.2);
}

.boss-container {
  position: relative;
  max-height: 50%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#monster {
  max-height: 90%;
}

#healthbar {
  position: relative;
  width: 100%;
  height: 18px;
  background: #2c3e50;
  border-radius: 100px;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 2px 8px rgba(0,0,0,0.3) inset,
              0 1px 4px rgba(0,0,0,0.3);
  /* margin: 12px 0; */
}

#healthbar #healthText {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(255,255,255,1);
  text-shadow: 0 1px 4px rgba(0,0,0,0.5);
}

#healthbar #healthLeft {
  width: 50%; /* Width should be set in javascript based on story points */
  height: 16px;
  margin: 1px;
  border-radius: 100px;
  text-align: right;
  background: linear-gradient(-180deg, #e74c3c 0%, #c0392b 100%);
  box-shadow: 0 0 4px rgba(0,0,0,0.3),
              0 3px 3px rgba(255,255,255,0.3) inset,
              0 -3px 3px rgba(0,0,0,0.3) inset;
}

.top-warriors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 16px;
}

.top-warriors .top-warriors-title {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: rgba(255,255,255,.5);
}

.top-warriors .top-warrior {
  position: relative;
  height: 24px;
  background: rgba(255,255,255,.2);
  border-radius: 8px;
  color: rgba(255,255,255,1);
  padding: 8px 8px 8px 32px;
  margin: 8px 4px;
}

.top-warriors .top-warrior .number {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 24px;
  line-height: 24px;
}

.top-warriors .top-warrior .name {
  font-size: 12px;
}

.top-warriors .top-warrior .points {
  font-size: 10px;
  color: rgba(255,255,255,.5);
}

.panel {
  height: 50%;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.tab {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  border-top: 2px solid rgba(0,0,0,0);
  border-bottom: 2px solid rgba(0,0,0,0);
}
.tab.selected {
  border-bottom: 2px solid #0084ff;
}

.panel-item {
  display: none;
  padding: 12px;
}
.panel-item.selected {
  display: flex;
}

.story {
  font-size: 12px;
}
