body {
  font-family: sans-serif;
  margin: 0;
}

.battlefield {
  height: 50%;
  background: #244768;
}

.not-battlefield {
  height: 50%;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#selectedTabBG {
  position: absolute;
  left: 0;
  height: 4px;
  background: #0084ffef;
}

.tab {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 0;
}
